<header>
  <% if (!registered) { %>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="">TinyApp</a>
  <% } else { %>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="/urls">TinyApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        </div>
      </div>
    <% if (username) { %>
      <div style="display: flex; flex-direction: row">
        <h6 style="color: white; margin: 1em">Logged In As: <%= username %>!</h6>
        <form class="form-inline" action="/logout" method="POST">
          <div>
            <button type="logout" class="btn btn-default" style="color: white; border-color: white; margin: 0.5em 0em 0.5em 0.5em">Logout</button>
          </div>
        </form>
      </div>
    <% } else { %>
      <div>
        <form class="form-inline" action="/login" method="POST">
          <div>
            <input class="form-control" type="text" name="username" placeholder="Username" style="width: 300px">
            <button type="login" class="btn btn-default" style="color: white; border-color: white; margin: 0.5em 0em 0.5em 0.5em">Login</button>
          </div>
        </form>
      </div>
    <% } %>
  <% } %>
    </nav>
</header>